s* {
  margin: 0px;
  padding: 0px;
  /* box-sizing: 100vh; */
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  background: linear-gradient(120deg,#424242,#000000);;

}

.container {
  max-width: 90rem;
  margin: 2rem auto;
  padding: 0px 2rem;
}

.img-fluid {
  max-width: 100%;
}
.logo img {
  width: 70px;
  height: 70px;
  border-radius: 41px;
  outline: 3px solid rgb(255, 255, 255);
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 0.1rem 3rem;
  align-items: center;
}

.items {
  display: flex;
  align-items: left;
  gap: 40px;
  
}

.items a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: bold;
}
.name{
  font-size: 2.2rem;
  font-weight: bold;
  padding-right: 30%;
  color: #ffffff;
}

.items a:hover {
  color: rgb(255, 174, 0);

}

.other a{
  box-sizing: border-box;
}

button a {
  font-size: 1.2rem;
  padding: 0.7rem 1rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background: linear-gradient(to right, #084582, #06648c);
  border-radius: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  /* outline: 3px solid rgb(32, 30, 30); */
  /* cursor: pointer; */
  border: none;
}

button:hover a {
  background:rgb(184, 177, 177);
  outline: 1px solid rgb(18, 18, 18);
  color: rgb(0, 0, 0);
  border: none;
}

.footer-dark {
  padding:100px ;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:rgb(192, 192, 192);
  text-decoration:none;
  opacity:0.8;
}

.footer-dark ul a:hover {
  
  color: #1d99ff;
  
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgb(0, 120, 232);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
  text-decoration: none;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
  color: rgba(255, 179, 0, 0.952);
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

h1{
  padding-left: 10%;
  padding-top: -0.5%;
  font-size: 34px;
  color: rgb(219, 219, 219);
}
.one{
  padding-left:15% ;
  padding-top: .03%;
  opacity: 0.7;
}
.third{
  padding-left: 15%;
  padding-top: 0.2%;
  opacity: 0.7;
}

.livedata{
position:absolut;
transform: translate(35%,50%);
width: 900px;
border-radius: 10px;
background:linear-gradient(120deg,#444444,#201e1e,rgb(43, 40, 40));;;
}
.fix{
  text-align: center;
  display: flex;
  gap: 100px;
  padding-top: 2%;
  padding-left: 1%;
  color: #e5e3e3;
}

.data_table{
margin-top: 90px;
display: flex;
height: 30vh;
justify-content: center;
align-items: center;
}
table{
color: linear-gradient(120deg,#504c4c,#161515);;;
}
td{
/* border: solid 2px white; */
padding: 10px;
}
.fix-measure{
color: #b1adad;
}
.var-data{
color: #f29407;
align-items: center;
padding-left: 8%;
}
.footer-container{
margin-top: 90px;
}
.footer-row{
display: flex;
justify-content:space-around ;
align-items: center;
}
.down_footer{
padding: 5px;
margin-top: 90px;
height: max-content;
}
table{
  border: solid 2px rgb(189, 184, 184);
  
}